/* Container Styling */
.container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0; /* Gray background */
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Breadcrumb Styling */
.breadcrumb {
  font-size: 14px;
  margin-bottom: 10px;
}

.breadcrumb a {
  color: orange;
  text-decoration: none;

}
.breadcrumb span {
  color: black;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* Header Styling */
h1 {
  color: #333;
  text-align: left;
  margin-bottom: 20px;

}

/* Apply Button Styling */
.apply-button {
  display: inline-block;
  width: fit-content;
  margin: 0 auto 20px auto;
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  
}

.apply-button .arrow {
  margin-left: 5px;
}

.apply-button:hover {
  background-color: #b05f25;
}

/* Content Styling */
.content p {
  margin-bottom: 16px;
}

.content ul {
  margin: 20px 0;
  padding-left: 20px;
}

.content ul li {
  margin-bottom: 8px;
}

.content a {
  color: #007bff;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .apply-button {
    font-size: 14px; /* Slightly smaller text for smaller screens */
    padding: 8px 16px; /* Adjusts padding */
  }
}
